@media screen and (min-width: 768px) and (max-width: 1279px) {
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column-gap: 30px;
        width: 704px;
    }
}

@media screen and (min-width: 1280px) {
    .wrapper {
            display: flex;
            flex-wrap: wrap;
            grid-column-gap: 25px;
            width: 608px;
        }
}

.text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 2px;
    margin-bottom: 32px;
    color: #9b9faa80;
    width: 240px;
    border-bottom: 1px solid #E0E0E0;
}

.wrap {
margin-bottom: 40px;
}

.btn{
    display: block;
    padding: 13px 25px;
    border: none;
    background: #FC842D;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .btn {
        margin: 0 auto;
        width: 210px;
        height: 43px;
        cursor: pointer;
    }
}