
.text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 2px;
    margin-bottom: 32px;
    color: #9b9faa80;
    width: 240px;
    border-bottom: 1px solid #E0E0E0;
}

.wrap {
margin-bottom: 40px;
}

.label {
    display: inline-flex;
    align-items: center;
    padding-right: 24px;
    
}



.span {
    text-align: center;
    padding-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}


.input {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    border-radius: 50%;
}

.input:checked{
    background-color: #FC842D;
}

.input:checked+.span{
    font-weight: 700;
    color: #FC842D;
}

.btn{
    display: block;
    padding: 13px 25px;
    border: none;
    background: #FC842D;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .btn {
        margin: 0 auto;
        width: 210px;
        height: 43px;
        cursor: pointer;
    }

    
}