
.text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 8px;
    padding-left: 1px;
    padding-right: 2px;
    margin-bottom: 32px;
    color: var(--color-placeholder);
    width: 240px;
    border-bottom: 1px solid var(--color-line);
}

.wrap {
margin-bottom: 40px;
}

.btn{
    display: block;
    padding: 13px 25px;
    border: none;
    background: var(--color-focus);
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 767px) {
    .btn {
        margin: 0 auto;
        width: 210px;
        height: 43px;
        cursor: pointer;
    }
}