@media screen and (max-width: 767px) {
    .vector {
        display: none;
    }

    .strawberry {
        display: none;
    }

    .banana {
        display: none;
    }

    .layer {
        display: none;
    }

    .tablenVector {
        display: none;
    }

    .tabletStrawberry {
        display: none;
    }

    .tabletBanana {
        display: none;
    }

    .tabletLayer {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .vector {
        position: absolute;
        top: -120px;
        right: 0;
        z-index: -2;
    }

    .strawberry {
        position: absolute;
        bottom: -250px;
        right: 0;
    }

    .banana {
        position: absolute;
        top: -200px;
        right: 0;
    }

    .layer {
        position: absolute;
        top: -210px;
        right: 190px;
        z-index: -1;
    }

    .tablenVector {
        display: none;
    }

    .tabletStrawberry {
        display: none;
    }

    .tabletBanana {
        display: none;
    }

    .tabletLayer {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .vector {
        display: none;
    }

    .strawberry {
        display: none;
    }

    .banana {
        display: none;
    }

    .layer {
        display: none;
    }

    .tablenVector {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .tabletStrawberry {
        position: absolute;
        bottom: 200px;
        right: 0;
        z-index: 10;
    }

    .tabletBanana {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
    }

    .tabletLayer {
        position: absolute;
        top: -75px;
        right: 10px;
        z-index: -1;
    }
}