


.title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
}
.list {
    width: 288px;
    max-height: 112px;
    overflow: scroll;
}
@media screen and (min-width: 1280px) {
    .list {
        max-height: 200px;
    }
}