.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.modal {
  object-fit: cover;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
  background-color: #fff;
  padding-left: 82px;
  padding-right: 82px;
}
.btn__wrapper {
  text-align: end;
}
.btnClose {
  margin-top: 20px;
  margin-right: 20px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
}
