.modal__title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    width: 509px;
    letter-spacing: 0.05em;
    display: inline-block;
    color: var(--color-dark);
}

.modal__calories {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.04em;
    border-bottom: 1px solid #e0e0e0;
    color: var(--color-modal-calories);
}

.ccal {
    font-size: 14px;
    font-weight: 700;
}

.modal__listTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    letter-spacing: 0.04em;

    color: var(--color-dark);
}

.modal__list {
    padding-inline-start: 20px;
}