.info {
    display: none;
}

.line {
    display: block;
    width: 2px;
    height: 32px;
    margin-left: 16px;
    margin-right: 16px;
    background-color: var(--color-line);
}

.name {
    font-weight: 700;
    font-size: 14px;
    color:var(--color-dark);
}

.btn {    
    font-weight: 700;
    font-size: 14px;
    color: var(--color-text);
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.userBar {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .info {
        display: flex;
        align-items: center;
    }
    
}
