.input {
    width: 261px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.20;

    outline: none;
    border: none;
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 70% no-repeat;
    margin-bottom: 60px;
}

.input::-webkit-inner-spin-button {
    display: none;
}

.input::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}