/* .title {

    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    color: var(--color-dark);

    margin-bottom: 60px;
    max-width: 608px;
} */

.title {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;

    color: var(--color-dark);

    margin-bottom: 32px;
    max-width: 608px;
}

.summarySection {
    background-color: var(--bg-color);
}

@media screen and (min-width: 768px) {
    .title {
        margin-bottom: 68px;
        font-size: 34px;
        line-height: 1.2;
    }
}

/* .section {
    width: 608px;
} */

@media screen and (max-width: 767px) {
    .section {
        padding-top: 32px;
        padding-bottom: 31px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 160px;
        padding-bottom: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .section {
        padding-top: 67px;
        padding-bottom: 111px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 3fr 2fr;        
        margin: 0 auto;
    }

    .leftSide {
        display: flex;
        flex-direction: column;
        /* width: 560px;
        margin-right: 120px;
        margin-left: auto; */
        padding-left: 15px;
    }

    .rightSide {
        max-width: 550px;
        padding: 0 15px;    
    }
}

@media screen and (max-width: 767px) {
    .leftSide {
        padding-left: 15px;
    }

    .layer {
        display: none;
    }

    .tabletLayer {
        display: none;
    }
}

@media screen and (min-width: 1280px) {

    .layer {
        position: absolute;
        bottom: -350px;
        right: 0;
    }

    .tabletLayer {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .leftSide {
        padding-left: 15px;
    }

    .layer {
        display: none;
    }

    .tabletLayer {
        position: absolute;
        bottom: -662px;
        right: 0;
    }
}