.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-focus);
    margin-top: 40px;
    margin-bottom: 60px;
}


.section {
    padding: 0 20px;
}

@media screen and (max-width: 767px) {
    .section form {
        width: 280px;
        margin: 0 auto;
    }

    form > input {
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 160px;
        padding-bottom: 419px;
    }
}

@media screen and (min-width: 1280px) {
    .section {
        padding-top: 80px;
        padding-bottom: 0;
    }
}


@media screen and (min-width: 768px) {
    .title {
        margin-top: 0;
        text-align: start;
        line-height: 1.2;
    }
}

.wrapper {
    position: relative;
}


@media screen and (min-width: 1280px) {
    .vector {
        z-index: -1;
    }

    .strawberry {
        bottom: -169px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .tablenVector {
        z-index: -2;
    }

    .tabletStrawberry {
        position: absolute;
        bottom: 200px;
        right: 0;
        z-index: 10;
    }

    .tabletBanana {
        z-index: -1;
    }

    .tabletLayer {
        z-index: -2;
    }
}