.section-diary{
    display: flex;
}
.title {

    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;

    color: var(--color-dark);

    margin-bottom: 60px;
    max-width: 608px;
}