@media screen and (min-width: 1280px) {
    .BackGround {
        position: absolute;
        background: var(--bg-color);
        right: 0;
        bottom: unset;
        z-index: -1;
        width: 40%;
        height: 100vh;
        min-height: 850px;
    }
}

@media screen and (min-width: 1800px) {
    .BackGround {
        width: 45%;
    }
}