html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  margin: 0;

  font-family: var(--ff);
  color: var(--color-text);

  background-color: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.link,
.footer__contacts,
.logo,
.button {
  font-style: inherit;
  font-family: inherit;
  color: inherit;

  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.list {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 150px 0;
}
