:root {
    --ff: Verdana;
    --bg-color: #F0F1F3;
    --color-text: #9B9FAA;
    --color-focus: #FC842D;
    --color-dark: #212121;
    --color-modal-calories: #264061;
    --color-white: #ffffff;
    --color-line:#E0E0E0;
    --color-mobile-bg:#EFF1F3;
    --color-placeholder: #9b9faa80;

    --time: cubic-bezier(0.4, 0, 0.2, 1);
}

