/* 
.box{
    position: relative;
        height: auto;
        overflow: hidden;
}

.q{
    position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 45px;
        background-image: linear-gradient(#ffffff82, #ffffffd9, #ffffff);
} */


.list {
  scroll-behavior: smooth;
  max-height: 330px;
  list-style: none;
  overflow: scroll;
  margin-top: 20px;
  padding-right: 5px;
}


/* Scrollbar Styling */
.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-track {
  background-color: var(--color-white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--bg-color);
}

@media screen and (min-width: 768px) {
  .box {
      position: relative;
      height: auto;
      overflow: hidden;
    }
  
    .q {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 41px;
      background-image: linear-gradient(#ffffff82, #ffffffd9, #ffffff);
    }


  .list {
    padding-right: 20px;
    max-height: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    max-height: 350px;
    
  }

}
