.BackBtn {
    position: absolute;
    top: -25px;
    left: 20px;
}

@media screen and (min-width: 768px) {
    .BackBtn {
        display: none;
    }
  }

.hideForm{
    display: none;
}

@media screen and (min-width: 768px) {
    .hideForm {
        display: block;
    }
}