.title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-focus);
  margin-top: 40px;
  margin-bottom: 60px;
}


@media screen and (min-width: 768px) {
  .section {
    padding-top: 160px;
    padding-bottom: 495px;
  }

  .title {
    line-height: 1.2;
    text-align: start;
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
    .section {
        padding-top: 67px;
        padding-bottom: 0;
    }
}

.wrapper {
  position: relative;
}
