:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}  

.menu-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    pointer-events: none;
    transition: opacity var(--animation-duration) var(--timing-function);
}
  
@media screen and (min-width: 768px) {
    .menu-box {
      top: 85px;
    }
}