.input {
    width: 236px;
    height: 24px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-line); 
    margin-bottom: 32px;
    font-family: var(--ff);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: var(--color-text);
}

.inputGrams {
    composes: input;
    width: 106px;
}
