.container {
    min-width: 290px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media screen and (min-width: 320px) {
    .container {
        max-width: 767px;
    }
}
  
  @media screen and (min-width: 350px) {
    .container {
    }
}

  @media screen and (min-width: 768px) {
    .container {
      max-width: 1279px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

.header {
    padding: 20px 0;
}

.outline {
    border-bottom: 2px solid #E0E0E0;
}

.desktopMenu {
    display: none;
}

.row {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.line {
    display: none;
}

.mobileUserInfo {
    height: 40px;
    padding-right: 20px;
    margin: 0 -15px;
    background-color: #EFF1F3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 20px 15px;
    }

    .mobileUserInfo {
        display: none;
    }

}

@media screen and (min-width: 1280px) {
    .header {
        padding: 80px 16px;
    }
    
    .outline {
        border-bottom: none;    
    }

    .row {
        display: flex;
        justify-content:flex-start;
        align-items: flex-end;
    }

    .desktopMenu {
        display: flex;
    }

    .line {
        display: block;
        width: 2px;
        height: 32px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: -10px;
        background-color: #E0E0E0;
    }

    .menuIcon {
        display: none;
    }

    .mobileMenu {
        display: none;
    }
}